[submodule "src/ds4_driver"]
        path = src/ds4_driver
        url = https://github.com/naoki-mizuno/ds4_driver
        branch = noetic-devel
[submodule "src/pixy2_ros"]
        path = src/pixy2_ros
        branch = master
        url = https://github.com/frewacom/pixy2_ros.git
        ignore = dirty
