[Unit]
Description=LAFF Orchestrator Client
After=multi-user.target

[Service]
Type=simple
Restart=always
User=laff
StandardOutput=append:/home/laff/stdout.log
StandardError=append:/home/laff/error.log
WorkingDirectory=/home/laff/laff-platooning
ExecStart=/usr/bin/python3 -m orchestrator.client

[Install]
WantedBy=multi-user.target
